<app-excel></app-excel>

<!-- <table class="table table-bordered" id="excel-table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Gender</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of employees">
      <td>{{user.firstname}}</td>
      <td>{{user.Lastname}}</td>
      <td>{{user.Age}}</td>
      <td>{{user.Gender}}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td >Larry the Bird</td>
      <td>twitter</td>
      <td>something</td>
    </tr>
  </tbody>
</table>


<button class="btn btn-primary" (click)="downloadfile()">Download File</button> -->